.container
  %h1.text-center
    Adminstrator
  =render 'admin/nav_links'
  %table.table.table-striped
    %thead
      %tr
        %th{:scope => "col"} Id
        %th{:scope => "col"} Project
        %th{:scope => "col"} Author
        %th{:scope => "col"} Comments
    %tbody
      -@projects.each do |project|
        %tr
          %th{:scope => "row"}=project.id
          %td= link_to project.title.truncate(15), admin_project_path(project)
          %td= project.user.username
          %td= pluralize(project.comments.size, "Comment")
