.container.card.mt-5{"data-controller" => "home"}
  %h1 Portfoliyours
  %p Welcome!
  -if current_user
    .container.card
      %h2 User Info
      %h3=current_user.full_name.titleize
      %ul
        %li=current_user.location.state
        %li=current_user.location.country
        -unless current_user.social
          %li=current_user.social.github
          %li=current_user.social.linkedin
          %li=current_user.social.website
          %li=current_user.social.youtube
          %li=current_user.social.twitter
          %li=current_user.social.instagram
          %li=current_user.social.discord
  %h2 ToDo:
  %ul
    %li Add socials to edit form
    %li Add phone number to form
    %li Style
    %li use better Country and state selection inputs
    %li Add ability to follow user
    %li filter projects by new, popular, most comments, etc..
    %li Host it

  = link_to "About", about_path
