.container{"data-controller" => "testing_area"}
    %h1 Testing Area.
    %p Do what you want here in app/javascript/controllers/testing_area_controller.js
    %input#datepicker{:type => "text"}

    = link_to "About", about_path