.container
  %h1.display-3 Your Projects
  %hr/
  #projects
    -@projects.each do |project|
      =render project
      .d-flex.justify-content-start
        %p
          =link_to "Show", project, class: "btn btn-primary"
      %hr/

%br

= link_to 'New Project', new_project_path
