.container
  %h1.display-3 Projects
  %hr/
.container.card.mt-2.mb-5
  .row.row-cols-1.row-cols-md-3.g-4.m-3
    -@projects.each do |project|
      .col
        .card
          -if project.screenshots.attached?
            =image_tag project.screenshots[0]
          -else
            =image_tag "default.jpg"
          .card-body
            %h5.card-title= project.title
            %p.card-text= project.description.to_plain_text.truncate(25)
            %p.card-text.d-flex.justify-content-between
              %small.text-muted Posted #{time_ago_in_words(project.created_at)} ago
              =link_to "View", project_path(project), class: "btn btn-sm btn-secondary"

%br

= link_to 'New Project', new_project_path
