.container.border-bottom
  .d-flex.justify-content-end
    .d-flex.justify-content-evenly
      = link_to 'Edit', edit_project_path(@project), class: "btn btn-secondary btn-sm"
      = link_to 'Back', projects_path, class: "btn btn-secondary btn-sm ms-3"
  = render @project
  .d-flex.justify-content-evenly
    .p-2
      =link_to "GitHub", @project.github, class: "btn btn-dark"
    .p-2
      =link_to "Website", @project.website, class: "btn btn-primary"
    .p-2
      =link_to "Youtube", @project.youtube, class: "btn btn-danger"
    .p-2
      =link_to "View Portfolio", user_path(@project.user), class: "btn btn-light"

.container
  =render 'comments/form', project: @project
  -@comments.each do |comment|
    =render 'comments/comment', project: @project, comment: comment