.container.card.mt-5.mb-3.border.border-success.border-3.ps-5.pe-5.pt-3.pb-5
  .d-flex.justify-content-between
    %h2.display-2.ms-3= @project.title
  .d-flex.justify-content-between.ms-3.me-3
    %span.text-muted= @project.user.full_name
    .d-flex.justify-content-end.mb-2
      -if current_user == @project.user
        =link_to "Edit", edit_project_path(@project), class: "btn btn-sm btn-secondary me-2"
      =link_to "View Portfolio", user_path(@project.user), class: "btn btn-sm btn-success"
  %hr.m-1/
  .d-flex.justify-content-between.ms-3.me-3.mb-3
    %small.text-muted Posted #{time_ago_in_words(@project.created_at)} ago
    %span.text-muted= pluralize(@project.hits, "view")
  .card.mb-3
    .card
      -if @project.screenshots.attached?
        =image_tag @project.screenshots[0], class:"figure-img rounded img-fluid rounded mx-auto d-block"
      -else
        =image_tag "default.jpg", class:"figure-img rounded img-fluid rounded mx-auto d-block"
    .card-body
      .d-flex.justify-content-end
        -if @project.github
          =link_to "GitHub", @project.github, class: "btn btn-dark"
        -if @project.youtube
          =link_to "Youtube", @project.youtube, class: "btn btn-danger"
        -if @project.website
          =link_to "Website", @project.website, class: "btn btn-info"
      %p.card-text=@project.description
  %hr.m-1/
  .container
    .card.mt-5.bg-secondary
      =render 'comments/form', project: @project, comment: @project.comments.build, submit_label: "Reply"
      -@comments.each do |comment|
        =render 'comments/comment', project: @project, comment: comment
