.container
  %h1 Where are you located?
  =form_for(@location, url: wizard_path, method: :put) do |f|
    -if f.object.errors.any?
      .error_messages
        -f.object.errors.full_messages.each do |error|
          %p{:style => "color: red"}= error
    .form-control
      %legend Location
      .input-group.mt-2
        =f.country_select :country, { include_blank: 'Select a country', priority_countries: ["US", "GB", "CA"] }, required: true, class: 'form-select'
        =f.text_field :state, class: "form-control", placeholder: "State....", required: true
      .row
        .col-10
          .col-2.d-flex.justify-content-end.mt-2.btn-group
            =render 'links'
            =f.submit 'Next Step', class: "btn btn-primary"

:css
  div.field_with_errors {
    display: inline;
  }

:javascript
  $(document).ready( function() {
    console.log("Hello?")
  } );
