/ Footer
%footer.text-center.text-lg-start.bg-light.text-muted
  -# / Section: Social media
  -# %section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
  -#   / Left
  -#   .me-5.d-none.d-lg-block
  -#     %span This is version 1.0
  -#   / Left
  -#   / Right
  -#   %div
  -#     %a.me-4.text-reset{href: ""}
  -#       %i.fab.fa-facebook-f
  -#     %a.me-4.text-reset{href: ""}
  -#       %i.fab.fa-twitter
  -#     %a.me-4.text-reset{href: ""}
  -#       %i.fab.fa-google
  -#     %a.me-4.text-reset{href: ""}
  -#       %i.fab.fa-instagram
  -#     %a.me-4.text-reset{href: ""}
  -#       %i.fab.fa-linkedin
  -#     %a.me-4.text-reset{href: ""}
  -#       %i.fab.fa-github
  -#   / Right
  -# / Section: Social media
  -# / Section: Links
  -# %section
  -#   .container.text-center.text-md-start.mt-5
  -#     / Grid row
  -#     .row.mt-3
  -#       / Grid column
  -#       .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
  -#         / Content
  -#         %h6.text-uppercase.fw-bold.mb-4
  -#           %i.fas.fa-gem.me-3>
  -#           Portfoliyours v1.0
  -#         %p
  -#           Everyone needs a portfolio.
  -#       / Grid column
  -#       / Grid column
  -#       -# .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
  -#       -#   / Links
  -#       -#   %h6.text-uppercase.fw-bold.mb-4
  -#       -#     Products
  -#       -#   %p
  -#       -#     %a.text-reset{href: "#!"} Angular
  -#       -#   %p
  -#       -#     %a.text-reset{href: "#!"} React
  -#       -#   %p
  -#       -#     %a.text-reset{href: "#!"} Vue
  -#       -#   %p
  -#       -#     %a.text-reset{href: "#!"} Laravel
  -#       / Grid column
  -#       / Grid column
  -#       -# .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
  -#       -#   / Links
  -#       -#   %h6.text-uppercase.fw-bold.mb-4
  -#       -#     Useful links
  -#       -#   %p
  -#       -#     %a.text-reset{href: "#!"} Pricing
  -#       -#   %p
  -#       -#     %a.text-reset{href: "#!"} Settings
  -#       -#   %p
  -#       -#     %a.text-reset{href: "#!"} Orders
  -#       -#   %p
  -#       -#     %a.text-reset{href: "#!"} Help
  -#       / Grid column
  -#       / Grid column
  -#       .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
  -#         / Links
  -#         %h6.text-uppercase.fw-bold.mb-4 Contact
  -#         %p
  -#           %i
  -#           Reach out to Evan Pavone if you have questions or run into issues on the site!
  -#         %p
  -#           %i
  -#           evanrpavone@gmail.com.com
  -#       / Grid column
  -#     / Grid row
  -# / Section: Links
  -# / Copyright
  .text-center.p-4{style: "background-color: rgba(0, 0, 0, 0.05);"}
    © 2023 Copyright:
    %a.text-reset.fw-bold{href: "mailto: EvanRPavone@gmail.com", title: "Email Evan Pavone"} Portfoliyours
  / Copyright
/ Footer